@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

* {
  box-sizing: border-box;
  color: white;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #7109AA;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  flex-flow: column wrap;
}

#settings {
  height: 80px;
  margin-top: 30px;
}

#timer {
  height: 180px;
}

#settings {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

#session-label, #break-label {
  width: 150px;
  height: 80px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.timeControls {
  flex: 1 0 0%;
  width: 100px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-left {
  border: 5px solid white;
  width: 200px;
  height: 160px;
  font-size: 36px;
  border-radius: 22%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls > span {
  margin: 10px;
}

span:hover {
  cursor: pointer;
}

.number-input {
  border: 3px solid white;
  width: 100%;
  border-radius: 14px;
  background-color: transparent;
  text-align: center;
  margin: 0px 5px 0px 5px;
  outline: none;
}